@import '../../assets/styles/variables.scss';

div.poster-element {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $card-color;
}

.element-carousel:hover {
	.name-element {
		color: $hover-color;
	}
}
