.lists-wrapper {
	padding-bottom: 10px !important;
	position: relative;
	width: 100%;

	> div {
		background-color: $card-color;
		border-radius: 8px;
	}

	.left-side-menu {
		float: left;
		position: sticky;
		top: 60px;
		// position: fixed;
		height: calc(100vh - 80px);
		width: 20%;
		padding-top: 20px;
		margin-left: 10px;

		h1 {
			font-size: 18px;
			color: rgba(255, 255, 255, 0.4);
			margin-left: 20px;
		}

		.lists-menu {
			margin: 20px 0;
			margin-left: 20px;
			height: 80%;
			overflow-y: auto;

			> div {
				width: 90%;
				padding: 10px;
				border-radius: 6px;
				cursor: pointer;
				margin: 5px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.action-on-user-list {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 35px;

					.xmark,
					.pen {
						opacity: 0;
					}

					.pen {
						font-size: 13px;
					}
				}
			}

			div.active:not(.user-list-editing),
			> div:not(.user-list-editing):hover {
				background-color: rgba(45, 45, 45);
			}

			div.active .xmark,
			> div:hover .xmark,
			div.active .pen,
			> div:hover .pen {
				opacity: 1;
			}

			.user-list-editing {
				input {
					width: 80%;
					color: white;
				}
			}
		}

		.button-wrapper {
			width: 100%;
			text-align: center;

			button {
				background-color: $secondary-color;
				color: black;
				border-radius: 6px;
				border: none;
				padding: 10px;
				width: 80%;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;

				span {
					color: black;
					font-size: 18px;
				}
			}
			button:hover {
				background-color: rgba($secondary-color, 0.8);
			}
		}
	}

	.main {
		margin-right: 10px;
		padding: 60px 20px 10px 50px;
		margin-left: calc(20% + 20px);
		position: relative;
		width: calc(80% - 40px);
		min-height: calc(100vh - 80px);

		.lists {
			margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 15px;
			flex-wrap: wrap;
		}

		.filter-button {
			position: absolute;
			top: 40px;
			right: 50px;
			background-color: $secondary-color;
			color: black;
			border-radius: 6px;
			border: none;
			padding: 5px 10px;
			font-size: 16px;
			font-weight: bold;
		}

		.filter-button:hover {
			background-color: rgba($secondary-color, 0.8);
		}

		.loader {
			position: absolute;
			top: 50%;
		}
	}

	@media screen and (max-width: 1005px) {
		display: flex;
		gap: 10px;
		flex-direction: column;

		.left-side-menu {
			position: initial;
			width: calc(100% - 20px) !important;
			height: fit-content;
			margin: 0 10px;

			.lists-menu {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0;
				height: 100px;

				> div {
					height: fit-content;
				}
			}

			.xmark,
			.pen {
				opacity: 1 !important;
			}

			.button-wrapper {
				margin: 20px 0;
				button {
					width: 200px;
				}
			}
		}
		.main {
			margin: 0 10px;
			width: calc(100% - 20px);
			padding: 60px 10px 10px 20px;
			min-height: 100%;
			flex-grow: 1;
			margin: 0 10px !important;

			.filter-button {
				top: 20px;
				right: 20px;
			}
		}
	}
}
