@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$primary-color: #f8e657;
$secondary-color: #abcfee;
$background-color: #1a1a1a;
$card-color: #1e1e1e;
$footer-color: #22222e;
$hover-color: #8f8f8f;
$main-font: 'Lato';
$second-font: 'Cinzel';
